@model NahledPlanuModel



<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>

<div class="text-center" style="padding:20px;">
    <input type="button" id="rep" value="Tisk" class="btn btn-info btn_print">
</div>

<div id="vsechno">

    <h2>Tréninkový plán</h2>

    <p>Tento tréninkový plán byl vytvořen pomocí Aplikace pro vytváření tréninkových plánů</p>

    <h3>Všechny tréninky:</h3>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Typ tréninku</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trenink in Model.Treninky)
                {
                    <tr>
                        <td>@trenink.DatumTreninku.ToShortDateString() @trenink.DatumTreninku.ToString("dddd", new System.Globalization.CultureInfo("cs-CZ"))</td>
                        <td>@trenink.TypTreninku</td>  
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h2>Konkrétní tréninky</h2>

    @foreach (var trenink in Model.Treninky)
    {
        <h3>@trenink.TypTreninku (@trenink.DatumTreninku.ToShortDateString() @trenink.DatumTreninku.ToString("dddd", new System.Globalization.CultureInfo("cs-CZ")))</h3>
        <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>Počet sérií</th>
                            <th>Počet opakování</th>
                            <th>Pauza mezi sériemi</th>
                            <th>Partie</th>
                            <th>Popis cviku</th>
                        </tr>
                    </thead>
                    <tbody>

        @foreach (var cvik in trenink.Cviky)
        {
            var indexTTP = 0;

            string suffix = @trenink.TypTreninku switch
            {
                "Nohy" => "Nohy",
                "Ramena + biceps" => "RamBic",
                "Záda" => "Zada",
                "Hrudník + triceps" => "HrTric",
                "Push" => "Push",
                "Pull" => "Pull",
                "Legs" => "Legs",
                "Kruhový trénink 1" => "1",
                "Kruhový trénink 2" => "2",
                "Kruhový trénink 3" => "3",
                _ => ""
            };


            indexTTP = cvik.TypyTreninku.IndexOf(Model.TP.DruhTP + Model.TP.StylTP + suffix);

                <tr>
                            <td>@cvik.Nazev</td>
                    <td>@cvik.PočtySérií[indexTTP]</td>
                    <td>@cvik.PočtyOpakování[indexTTP]</td>
                    <td>@cvik.PauzyMeziSériemi[indexTTP]</td>
                    <td>@cvik.Partie</td>
                    <td>@cvik.PopisCviku</td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    }

</div>


<script type="text/javascript">
    $(document).ready(function ($) {

        $(document).on('click', '.btn_print', function (event) {
            event.preventDefault();

            var element = document.getElementById('vsechno');


            var opt = {
                margin: 10, // Okraje stránky (v mm)
                filename: 'treninkovy_plan.pdf', // Název souboru
                image: { type: 'jpeg', quality: 0.98 }, // Nastavení obrázků (typ a kvalita)
                html2canvas: { scale: 2 }, // Nastavení html2canvas (měřítko)
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' } // Nastavení jsPDF (jednotky, formát, orientace)
            };

            html2pdf().set(opt).from(element).save();
        });

    });
</script>


